body {
	background-color: #333;
	color: #fff;
	/*font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
}

#loginbox {
	text-align: center;
}

#footer {
	text-align: center;
	color: silver;
}
